{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Free Register</h5>
                                            <p>Get your free Goodreads account now.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div>
                                    <a href="{% url 'home' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'assets/images/logo.svg' %}" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                    <form class="needs-validation" novalidate method="post">
                                        {% csrf_token %}
                                         <div class="mb-3">
                                            <label for="first_name" class="form-label">First Name</label>
<!--                                            <input type="text" class="form-control" id="first_name" placeholder="Enter First Name1">-->
                                             {% render_field form.first_name class+="form-control" type="text" id="first_name" placeholder="Enter First Name" %}
                                            <div class="invalid-feedback">
                                                Please Enter First Name
                                            </div>
                                        </div>

                                         <div class="mb-3">
                                            <label for="last_name" class="form-label">Last Name</label>
<!--                                            <input type="text" class="form-control" id="username" placeholder="Enter username" required>-->
                                             {% render_field form.last_name class+="form-control" type="text" id="last_name" placeholder="Enter Last Name" %}

                                            <div class="invalid-feedback">
                                                Please Enter Last Name
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="usermail" class="form-label">Email</label>
<!--                                            <input type="email" class="form-control" id="useremail" placeholder="Enter email" required>-->
                                            {% render_field form.email class+="form-control" type="email" id="useremail" placeholder="Enter Email" %}

                                            <div class="invalid-feedback">
                                                Please Enter Email
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
<!--                                            <input type="text" class="form-control" id="username" placeholder="Enter username" required>-->
                                            {% render_field form.username class+="form-control" type="text" id="username" placeholder="Enter Username" %}

                                            <div class="invalid-feedback">
                                                Please Enter Username
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="userpassword" class="form-label">Password</label>
<!--                                            <input type="password" class="form-control" id="userpassword" placeholder="Enter password" required>-->
                                            {% render_field form.password class+="form-control" type="password" id="userpassword" placeholder="Enter Password" %}

                                            <div class="invalid-feedback">
                                                Please Enter Password
                                            </div>
                                        </div>

                                        <div class="mt-4 d-grid">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">Register</button>
                                        </div>



                                        <div class="mt-4 text-center">
                                            <p class="mb-0">By registering you agree to the Goodreads <a href="#" class="text-primary">Terms of Use</a></p>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="mt-5 text-center">

                            <div>
                                <p>Already have an account ? <a href="{% url 'users:login' %}" class="fw-medium text-primary"> Login</a> </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}